{% extends "trips/base.html" %} 
{% load static %} 
{% block content %}


		<!-- =========== Who We Are =================== -->
		<section>
			<div class="container">
			
				<div class="row">
				
					<div class="col-md-6 col-sm-12">
						<div class="ab-detail">
							<h2>Who We Are?</h2>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
							<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
						</div>
					</div>
					
					<div class="col-md-6 col-sm-12">
						<!-- row -->
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="info-module">
									<i class="ti-help-alt cl-success"></i>
									<h4 class="infobox_title">24x7 Support</h4>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="info-module">
									<i class="ti-world cl-success"></i>
									<h4 class="infobox_title">150+ Countries</h4>
								</div>
							</div>
						</div>
						<!-- /row -->
						
						<!-- row -->
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="info-module">
									<i class="ti-headphone-alt cl-success"></i>
									<h4 class="infobox_title">740+ Branches</h4>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="info-module">
									<i class="ti-user cl-success"></i>
									<h4 class="infobox_title">10,000+ Member</h4>
								</div>
							</div>
						</div>
						<!-- /row -->
					</div>
					
				</div>
				
			</div>
		</section>
		<!-- =========== End Who We are =================== -->
		
		<!-- =========== Start Testimonial =================== -->
		<section class="half-bg">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="heading light">
							<span class="cl-white">Our Testimonials</span>
							<h1>What People Says</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="testimonial-carousel">
						
						<!-- Single Testimonial -->
						<div class="testimonial-carousel-box">
							<div class="testimonial-caption">
								<i class="ti-quote-right"></i>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								<div class="testimonial-author">
									<img src="{% static 'assets/img/avatar4.jpg' %}" class="img-responsive img-circle" alt="" />
									<h4>Adam Cristwal</h4>
								</div>
							</div>
						</div>
						
						<!-- Single Testimonial -->
						<div class="testimonial-carousel-box">
							<div class="testimonial-caption">
								<i class="ti-quote-right"></i>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								<div class="testimonial-author">
									<img src="{% static 'assets/img/avatar4.jpg' %}" class="img-responsive img-circle" alt="" />
									<h4>Adam Cristwal</h4>
								</div>
							</div>
						</div>
						
						<!-- Single Testimonial -->
						<div class="testimonial-carousel-box">
							<div class="testimonial-caption">
								<i class="ti-quote-right"></i>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								<div class="testimonial-author">
									<img src="{% static 'assets/img/avatar4.jpg' %}" class="img-responsive img-circle" alt="" />
									<h4>Adam Cristwal</h4>
								</div>
							</div>
						</div>
						
						<!-- Single Testimonial -->
						<div class="testimonial-carousel-box">
							<div class="testimonial-caption">
								<i class="ti-quote-right"></i>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								<div class="testimonial-author">
									<img src="{% static 'assets/img/avatar4.jpg' %}" class="img-responsive img-circle" alt="" />
									<h4>Adam Cristwal</h4>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<!-- =========== End Testimonial =================== -->
		
		<!-- ================= Features ===================== -->
		<section>
			<div class="container">
			
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">New Features</span>
							<h1>Latest Features</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
					
					<div class="col-md-3 col-sm-6">
						<div class="info-features">
							<i class="ti-headphone-alt info-ibox bg-success-light"></i>
							<h4 class="infobox_title">24x7 Support</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive.</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="info-features">
							<i class="ti-rocket info-ibox bg-success-light"></i>
							<h4 class="infobox_title">Fast & Protect Services</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive.</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="info-features">
							<i class="ti-dashboard info-ibox bg-success-light"></i>
							<h4 class="infobox_title">Creative Dashboard</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive.</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="info-features">
							<i class="ti-gift info-ibox bg-success-light"></i>
							<h4 class="infobox_title">Winner Announced</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive.</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- ===================== End fetures ===================== -->
		
		<!-- ============== Before Footer ====================== -->
		<section class="before-footer bt-1 bb-1">
			<div class="container-fluid padd-0 full-width">
			
				<div class=" col-md-2 col-sm-2 br-1 mbb-1">
					<div class="data-flex">
						<h4>Contact Us!</h4>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
					53 Boulevard Victor Hugo 44200 Nantes, France
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
						<span class="d-block mrg-bot-0">06 52 52 20 30</span>
						<a href="#" class="theme-cl"><strong>hello@gmail.com</strong></a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4 padd-0">
					<div class="data-flex padd-0">
						<ul class="social-share">
							<li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin theme-cl"></i></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</section>
		<!-- =================== Before Footer ====================== -->
			
	


{% endblock %}
