<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tour & Travel Bootstrap Template</title>

    <!-- Plugins CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/css/plugins.css' %}">	
    
    <!-- Custom style -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/responsiveness.css' %}" rel="stylesheet"><link id="jssDefault" rel="stylesheet" href="{% static 'assets/css/skins/default.css' %}">
    
	</head>
	
	<body>
		
		<!-- ======================= Start Navigation ===================== -->
		<nav class="navbar navbar-default navbar-mobile navbar-fixed light bootsnav">
			<div class="container">
			
				<!-- Start Logo Header Navigation -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="index-2.html">
						<img src="{% static 'assets/img/logo.png' %}" class="logo logo-display" alt="">
						<img src="{% static 'assets/img/logo.png' %}" class="logo logo-scrolled" alt="">
					</a>

				</div>
				<!-- End Logo Header Navigation -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-menu">
				
					<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
					
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
							<ul class="dropdown-menu animated fadeOutUp">
								<li><a href="index-2.html">Home 1</a></li>
								<li><a href="home-2.html">Home 2</a></li>
								<li><a href="home-3.html">Home 3</a></li>
								<li><a href="home-4.html">Home 4</a></li>
								<li><a href="home-5.html">Home 5</a></li>
							</ul>
						</li>
					
						<li class="dropdown megamenu-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Brows</a>
							<ul class="dropdown-menu megamenu-content" role="menu">
								<li>
									<div class="row">
										<div class="col-menu col-md-3">
											<h6 class="title">Destinations</h6>
											<div class="content">
												<ul class="menu-col">
													<li><a href="destination-grid.html">Destination Grid</a></li>
													<li><a href="destination-list.html">Destination List</a></li>
													<li><a href="destination-grid-sidebar.html">Destination Grid Sidebar</a></li>
													<li><a href="destination-list-sidebar.html">Destination List Sidebar</a></li>
													<li><a href="destination-detail.html">Destination Detail</a></li>
												</ul>
											</div>
										</div><!-- end col-3 -->
										<div class="col-menu col-md-3">
											<h6 class="title">Tours</h6>
											<div class="content">
												<ul class="menu-col">
													<li><a href="tour-grid.html">Tour Grid</a></li>
													<li><a href="tour-list.html">Tour List</a></li>
													<li><a href="tour-grid-sidebar.html">Tour Grid Sidebar</a></li>
													<li><a href="tour-list-sidebar.html">tour List Sidebar</a></li>
													<li><a href="tour-detail.html">Tour Detail</a></li>
												</ul>
											</div>
										</div><!-- end col-3 -->
										<div class="col-menu col-md-3">
											<h6 class="title">Hotels</h6>
											<div class="content">
												<ul class="menu-col">
													<li><a href="hotel-grid.html">Hotel Grid</a></li>
													<li><a href="hotel-list.html">Hotel List</a></li>
													<li><a href="hotel-grid-sidebar.html">Hotel Grid Sidebar</a></li>
													<li><a href="hotel-list-sidebar.html">Hotel List Sidebar</a></li>
													<li><a href="hotel-detail.html">Hotel Detail</a></li>
												</ul>
											</div>
										</div>    
										<div class="col-menu col-md-3">
											<h6 class="title">Restaurants</h6>
											<div class="content">
												<ul class="menu-col">
													<li><a href="restaurant-grid.html">Restaurant Grid</a></li>
													<li><a href="restaurant-list.html">Restaurant List</a></li>
													<li><a href="restaurant-grid-sidebar.html">Restaurant Grid Sidebar</a></li>
													<li><a href="restaurant-list-sidebar.html">Restaurant List Sidebar</a></li>
													<li><a href="restaurant-detail.html">Restaurant Detail</a></li>
												</ul>
											</div>
										</div><!-- end col-3 -->
									</div><!-- end row -->
								</li>
							</ul>
						</li>
						
						<li>
							<a href="hire-guider.html">Find Guide</a>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Extra</a>
							<ul class="dropdown-menu animated fadeOutUp">
								<li><a href="cart.html">Add To Cart</a></li>
								<li><a href="payment-methode.html">Paayment Methode</a></li>
								<li><a href="success-page.html">Success Page</a></li>
								<li><a href="coming-soon.html">Coming Soon</a></li>
								<li><a href="about-us.html">About Us</a></li>
								<li><a href="pricing.html">Pricing</a></li>
								<li><a href="services.html">Services</a></li>
								<li class="dropdown"><a href="#">View More</a>
									<ul class="dropdown-menu">
										<li><a href="blog.html">Blog</a></li>
										<li><a href="faqs.html">FAQs</a></li>
										<li><a href="login.html">LogIn</a></li>
										<li><a href="signup.html">SignUp</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="icons.html">icons</a></li>
										<li><a href="404.html">404</a></li>
									</ul>
								</li>
							</ul>
						</li>
						
						<li>
							<a href="dashboard.html">Dashboard</a>
						</li>
						
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown dash-link"><a href="#" class="dropdown-toggle"><img src="{% static 'assets/img/user-3.jpg' %}" class="img-responsive avatar" alt="" />Hi, Daniel</a> 
							<ul class="dropdown-menu left-nav">
								<li><a href="dashboard.html">Dashboard</a></li>
								<li><a href="http://themezhub.com/">My Profile</a></li>
								<li><a href="login.html">Log Out</a></li>
							</ul>
						</li>
					</ul>
						
				</div>
				<!-- /.navbar-collapse -->
			</div>   
		</nav>
		<!-- ======================= End Navigation ===================== -->

		
		<!-- ======================= Start Dashboard ===================== -->
		<section class="dashboard gray-bg padd-0 mrg-top-50">
			<div class="container-fluid">
				<div class="row">
					
					<div class="col-lg-2 col-md-2 col-sm-3 dashboard-bg">
						<!-- /. NAV TOP  -->
							<nav class="navbar navbar-side">
							<!-- Start Logo Header Navigation -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dashboard-menu">
									<i class="fa fa-bars"></i>
								</button>

							</div>
							<div class="collapse sidebar-collapse" id="dashboard-menu">
								<div class="profile-wrapper">
									<div class="profile-wrapper-thumb">
										<img src="{% static 'assets/img/user-3.jpg' %}" class="img-responsive img-circle" alt="" />
										<span class="dashboard-user-status bg-success"></span>
									</div>
									<h4>Duke Daniel</h4>
								</div>
								<ul class="nav" id="main-menu">
									
									<li class="active">
										<a href="dashboard.html"><i class="fa fa-dashboard" aria-hidden="true"></i>Dashboard</a>
									</li>
									
									<li>
										<a href="messages.html"><i class="ti-email" aria-hidden="true"></i>Messages</a>
									</li>
									
									<li>
										<a href="javascript:void(0)"><i class="fa fa-clone" aria-hidden="true"></i>Manage Listing <span class="fa arrow"></span></a>
										<ul class="nav nav-second-level">
											
											<li>
												<a href="manage-hotels.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Manage Hotels</a>
											</li>
											<li>
												<a href="manage-tours.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Manage Tours</a>
											</li>
										   <li>
												<a href="manage-destinations.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Manage Destinations</a>
											</li>
											<li>
												<a href="manage-restaurants.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Manage Restaurants</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a href="javascript:void(0)"><i class="ti-location-pin" aria-hidden="true"></i>Add Listings <span class="fa arrow"></span></a>
										<ul class="nav nav-second-level">
											
											<li>
												<a href="http://themezhub.com/"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Add Hotels</a>
											</li>
											<li>
												<a href="add-tours.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Add Tours</a>
											</li>
										   <li>
												<a href="add-destinations.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Add Destinations</a>
											</li>
											<li>
												<a href="add-restaurants.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Add Restaurants</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a href="invoice.html"><i class="fa-print" aria-hidden="true"></i>Invoice</a>
									</li>
									
									<li>
										<a href="javascript:void(0)"><i class="ti-calendar" aria-hidden="true"></i>My Booking <span class="fa arrow"></span></a>
										<ul class="nav nav-second-level">
											<li>
												<a href="booking-1.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Booking 1</a>
											</li>
											<li>
												<a href="booking-2.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Booking 2</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i>Settings <span class="fa arrow"></span></a>
										<ul class="nav nav-second-level">
											<li>
												<a href="basic-settings.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Basic Settings</a>
											</li>
											<li>
												<a href="site-settings.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Site Settings</a>
											</li>
										</ul>
									</li>
									
									<li>
										<a href="my-profile.html"><i class="ti-user" aria-hidden="true"></i>My Profile</a>
									</li>
									
									<li>
										<a href="add-payment-methode.html"><i class="ti-credit-card" aria-hidden="true"></i>Add Payment Methode</a>
									</li>
									
									<li class="log-off">
										<a href="login.html"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a>
									</li>
								</ul>
							</div>
						</nav>
						<!-- /. NAV SIDE  -->
					</div>
					
					<div class="col-lg-10 col-md-10 col-sm-9 col-lg-push-2 col-md-push-2 col-sm-push-3">
						<div class="row mrg-0 mrg-top-20">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h3 class="dashboard-title">Dashboard</h3>
								</div>
								<div class="tr-single-body">
								
									<!-- row -->
									<div class="row">
										<div class="col-md-3 col-sm-6">
											<div class="widget simple-widget">
												<div class="rwidget-caption info">
													<div class="row">
														<div class="col-xs-4 padd-r-0">
															<i class="cl-info icon ti-user"></i>
														</div>
														<div class="col-xs-8">
															<div class="widget-detail">
																<h3>372</h3>
																<span>New Users</span>
															</div>
														</div>
														<div class="col-xs-12">
															<div class="widget-line">
																<span style="width:80%;" class="bg-info widget-horigental-line"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-3 col-sm-6">
											<div class="widget simple-widget">
												<div class="widget-caption danger">
													<div class="row">
														<div class="col-xs-4 padd-r-0">
															<i class="cl-danger icon ti-shopping-cart-full"></i>
														</div>
														<div class="col-xs-8">
															<div class="widget-detail">
																<h3>412</h3>
																<span>Happy Customer</span>
															</div>
														</div>
														<div class="col-xs-12">
															<div class="widget-line">
																<span style="width:50%;" class="bg-danger widget-horigental-line"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-3 col-sm-6">
											<div class="widget simple-widget">
												<div class="widget-caption warning">
													<div class="row">
														<div class="col-xs-4 padd-r-0">
															<i class="cl-success icon ti-medall"></i>
														</div>
														<div class="col-xs-8">
															<div class="widget-detail">
																<h3>870</h3>
																<span>World Award</span>
															</div>
														</div>
														<div class="col-xs-12">
															<div class="widget-line">
																<span style="width:60%;" class="bg-success widget-horigental-line"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="col-md-3 col-sm-6">
											<div class="widget simple-widget">
												<div class="widget-caption purple">
													<div class="row">
														<div class="col-xs-4 padd-r-0">
															<i class="cl-purple icon ti-briefcase"></i>
														</div>
														<div class="col-xs-8">
															<div class="widget-detail">
																<h3>4770</h3>
																<span>Total Sales</span>
															</div>
														</div>
														<div class="col-xs-12">
															<div class="widget-line">
																<span style="width:40%;" class="bg-purple widget-horigental-line"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- /row -->
									
									<!-- row -->
									<div class="row">
										<div class="col-md-8 col-sm-12">
											<div class="tr-single-box">
												<div class="tr-single-header">
													<h4 class="mb-0">Extra Area Chart</h4>
												</div>
												<div class="tr-single-body">
													<ul class="list-inline text-center m-t-40">
														<li>
															<h5><i class="fa fa-circle m-r-5 cl-purple"></i>Booking 220</h5>
														</li>
														<li>
															<h5><i class="fa fa-circle m-r-5 cl-inverse"></i>Cancelation 20</h5>
														</li>
														<li>
															<h5><i class="fa fa-circle m-r-5 cl-success"></i>Earning $220</h5>
														</li>
													</ul>
													<div class="chart" id="extra-area-chart" style="height: 350px;"></div>
												</div>
											</div>
										</div>
										
										<div class="col-md-4 col-sm-12">
											<div class="tr-single-box">
												<div class="tr-single-header">
													<h5>Recen Booking</h5>
												</div>
												<div class="ground-list ground-list-hove">
													<div class="ground ground-single-list">
														<a href="#">
															<img class="ground-avatar" src="{% static 'assets/img/user-1.jpg' %}" alt="...">
															<span class="profile-status bg-online pull-right"></span>
														</a>

														<div class="ground-content">
															<h6><a href="#">Maryam Amiri</a></h6>
															<small class="text-fade">Co-Founder</small>
														</div>

														<div class="ground-right">
															<span class="small">Online</span>
														</div>
													</div>
													
													<div class="ground ground-single-list">
														<a href="#">
															<img class="ground-avatar" src="{% static 'assets/img/user-2.jpg' %}" alt="...">
															<span class="profile-status bg-offline pull-right"></span>
														</a>

														<div class="ground-content">
															<h6><a href="#">Maryam Amiri</a></h6>
															<small class="text-fade">Co-Founder</small>
														</div>

														<div class="ground-right">
															<span class="small">10 Min Ago</span>
														</div>
													</div>
													
													<div class="ground ground-single-list">
														<a href="#">
															<img class="ground-avatar" src="{% static 'assets/img/user-3.jpg' %}" alt="...">
															<span class="profile-status bg-working pull-right"></span>
														</a>

														<div class="ground-content">
															<h6><a href="#">Maryam Amiri</a></h6>
															<small class="text-fade">Co-Founder</small>
														</div>

														<div class="ground-right">
															<span class="small">20 Min Ago</span>
														</div>
													</div>
													
													<div class="ground ground-single-list">
														<a href="#">
															<img class="ground-avatar" src="{% static 'assets/img/user-4.jpg' %}" alt="...">
															<span class="profile-status bg-busy pull-right"></span>
														</a>

														<div class="ground-content">
															<h6><a href="#">Maryam Amiri</a></h6>
															<small class="text-fade">Co-Founder</small>
														</div>

														<div class="ground-right">
															<span class="small">18 Min Ago</span>
														</div>
													</div>
													
													<div class="ground ground-single-list">
														<a href="#">
															<img class="ground-avatar" src="{% static 'assets/img/user-5.jpg' %}" alt="...">
															<span class="profile-status bg-online pull-right"></span>
														</a>

														<div class="ground-content">
															<h6><a href="#">Maryam Amiri</a></h6>
															<small class="text-fade">Co-Founder</small>
														</div>

														<div class="ground-right">
															<span class="small">Online</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- /row -->
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- ======================= End Dashboard ===================== -->
			
		<!-- ============== Before Footer ====================== -->
		<section class="before-footer bt-1 bb-1">
			<div class="container-fluid padd-0 full-width">
			
				<div class=" col-md-2 col-sm-2 br-1 mbb-1">
					<div class="data-flex">
						<h4>Contact Us!</h4>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
					53 Boulevard Victor Hugo 44200 Nantes, France
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
						<span class="d-block mrg-bot-0">06 52 52 20 30</span>
						<a href="#" class="theme-cl"><strong>hello@gmail.com</strong></a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4 padd-0">
					<div class="data-flex padd-0">
						<ul class="social-share">
							<li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin theme-cl"></i></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</section>
		<!-- =================== Before Footer ====================== -->
			
		<!-- ================= footer start ========================= -->
		<footer class="footer dark-bg">
			<div class="container">
				
				<!-- Row Start -->
				<div class="row">
				
					<div class="col-md-8 col-sm-8">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<h4>Featured Destinations</h4>
								<ul>
									<li><a href="destination-grid.html">Destination Grid</a></li>
									<li><a href="destination-list.html">Destination List</a></li>
									<li><a href="destination-grid-sidebar.html">Destination Grid Sidebar</a></li>
									<li><a href="destination-list-sidebar.html">Destination List Sidebar</a></li>
									<li><a href="destination-detail.html">Destination Detail</a></li>
									<li><a href="restaurant-grid.html">Restaurant Grid</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4>Featured Tours</h4>
								<ul>
									<li><a href="tour-grid.html">Tour Grid</a></li>
									<li><a href="tour-list.html">Tour List</a></li>
									<li><a href="tour-grid-sidebar.html">Tour Grid Sidebar</a></li>
									<li><a href="tour-list-sidebar.html">tour List Sidebar</a></li>
									<li><a href="tour-detail.html">Tour Detail</a></li>
									<li><a href="http://themezhub.com/">Restaurant Grid</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4>Featured Hotels</h4>
								<ul>
									<li><a href="hotel-grid.html">Hotel Grid</a></li>
									<li><a href="hotel-list.html">Hotel List</a></li>
									<li><a href="hotel-grid-sidebar.html">Hotel Grid Sidebar</a></li>
									<li><a href="hotel-list-sidebar.html">Hotel List Sidebar</a></li>
									<li><a href="hotel-detail.html">Hotel Detail</a></li>
									<li><a href="restaurant-detail.html">Restaurant Detail</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4">
						<h4>Subscribe Now</h4>
						<!-- Newsletter -->
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Email">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-location-arrow font-20"></i></button>
							</span>
						</div>
						
						<!-- Social Box -->
						<div class="f-social-box">
							<ul>
								<li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-google google-plus-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest pinterest-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
							</ul>
						</div>
						
						<!-- App Links -->
						<div class="f-app-box">
							<ul>
								<li><a href="#"><i class="fa fa-apple"></i>App Store</a></li>
								<li><a href="#"><i class="fa fa-android"></i>Play Store</a></li>
							</ul>
						</div>
						
					</div>
					
				</div>
				
				<!-- Row Start -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyright text-center">
							<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
						</div>
					</div>
				</div>
				
			</div>
		</footer>
		<!-- Switcher -->
		<button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()"><i class="spin theme-cl fa fa-cog" aria-hidden="true"></i></button>
		<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
		  <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large theme-bg">Close &times;</button>
		   <ul id="styleOptions" title="switch styling">
				<li>
					<a href="javascript: void(0)" class="cl-box cl-default" data-theme="skins/default"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-red" data-theme="skins/red"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-green" data-theme="skins/green"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-blue" data-theme="skins/blue"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-pink" data-theme="skins/pink"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-purple" data-theme="skins/purple"></a>
				</li>
			</ul>
		</div>
		<!-- /Switcher -->

		 
		<!-- =================== START JAVASCRIPT ================== -->
		<script src="{% static 'assets/plugins/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/viewportchecker.js' %}"></script>
		<script src="{% static 'assets/plugins/js/bootsnav.js' %}"></script>
		<script src="{% static 'assets/plugins/js/slick.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.fancybox.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.downCount.js' %}"></script>
		<script src="{% static 'assets/plugins/js/freshslider.1.0.0.js' %}"></script>
		<script src="{% static 'assets/plugins/js/moment.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/daterangepicker.js' %}"></script>
		<script src="{% static 'assets/plugins/js/wysihtml5-0.3.0.js' %}"></script>
		<script src="{% static 'assets/plugins/js/bootstrap-wysihtml5.js' %}"></script>
		
		<!-- Dashboard Js -->
		<script src="{% static 'assets/plugins/js/jquery.slimscroll.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.metisMenu.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.easing.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/raphael.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/morris.min.js' %}"></script>
		<script src="{% static 'assets/js/chart.js' %}"></script>
 
		<!-- Custom Js -->
		<script src="{% static 'assets/js/custom.js' %}"></script>
		
		<script src="{% static 'assets/js/jQuery.style.switcher.js' %}"></script>
		<script>
			function openRightMenu() {
				document.getElementById("rightMenu").style.display = "block";
			}
			function closeRightMenu() {
				document.getElementById("rightMenu").style.display = "none";
			}
		</script>

		<script type="text/javascript">
			$(document).ready(function() {
				$('#styleOptions').styleSwitcher();
			});
		</script>
	
    </body>

</html>