<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tour & Travel Bootstrap Template</title>

    <!-- Plugins CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/css/plugins.css' %}">	
    
    <!-- Custom style -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/responsiveness.css' %}" rel="stylesheet"><link id="jssDefault" rel="stylesheet" href="{% static 'assets/css/skins/default.css' %}">
    
	</head>
	
	<body>
		
		<!-- ======================= Start Navigation ===================== -->
		<nav class="navbar navbar-default navbar-mobile navbar-fixed light bootsnav">
			<div class="container">
			
				<!-- Start Logo Header Navigation -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="index-2.html">
						<img src="{% static 'assets/img/logo.png' %}" class="logo logo-display" alt="">
						<img src="{% static 'assets/img/logo.png' %}" class="logo logo-scrolled" alt="">
					</a>

				</div>
				<!-- End Logo Header Navigation -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-menu">
				
					<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
					
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
							<ul class="dropdown-menu animated fadeOutUp">
								<li><a href="index-2.html">Home 1</a></li>
								<li><a href="home-2.html">Home 2</a></li>
								<li><a href="home-3.html">Home 3</a></li>
								<li><a href="home-4.html">Home 4</a></li>
								<li><a href="home-5.html">Home 5</a></li>
							</ul>
						</li>
					
						<li class="dropdown megamenu-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Brows</a>
							<ul class="dropdown-menu megamenu-content" role="menu">
								<li>
									<div class="row">
										<div class="col-menu col-md-3">
											<h6 class="title">Destinations</h6>
											<div class="content">
												<ul class="menu-col">
													<li><a href="destination-grid.html">Destination Grid</a></li>
													<li><a href="destination-list.html">Destination List</a></li>
													<li><a href="destination-grid-sidebar.html">Destination Grid Sidebar</a></li>
													<li><a href="destination-list-sidebar.html">Destination List Sidebar</a></li>
													<li><a href="destination-detail.html">Destination Detail</a></li>
												</ul>
											</div>
										</div><!-- end col-3 -->
										<div class="col-menu col-md-3">
											<h6 class="title">Tours</h6>
											<div class="content">
												<ul class="menu-col">
													<li><a href="tour-grid.html">Tour Grid</a></li>
													<li><a href="tour-list.html">Tour List</a></li>
													<li><a href="tour-grid-sidebar.html">Tour Grid Sidebar</a></li>
													<li><a href="tour-list-sidebar.html">tour List Sidebar</a></li>
													<li><a href="tour-detail.html">Tour Detail</a></li>
												</ul>
											</div>
										</div><!-- end col-3 -->
										<div class="col-menu col-md-3">
											<h6 class="title">Hotels</h6>
											<div class="content">
												<ul class="menu-col">
													<li><a href="hotel-grid.html">Hotel Grid</a></li>
													<li><a href="hotel-list.html">Hotel List</a></li>
													<li><a href="hotel-grid-sidebar.html">Hotel Grid Sidebar</a></li>
													<li><a href="hotel-list-sidebar.html">Hotel List Sidebar</a></li>
													<li><a href="hotel-detail.html">Hotel Detail</a></li>
												</ul>
											</div>
										</div>    
										<div class="col-menu col-md-3">
											<h6 class="title">Restaurants</h6>
											<div class="content">
												<ul class="menu-col">
													<li><a href="restaurant-grid.html">Restaurant Grid</a></li>
													<li><a href="restaurant-list.html">Restaurant List</a></li>
													<li><a href="restaurant-grid-sidebar.html">Restaurant Grid Sidebar</a></li>
													<li><a href="restaurant-list-sidebar.html">Restaurant List Sidebar</a></li>
													<li><a href="restaurant-detail.html">Restaurant Detail</a></li>
												</ul>
											</div>
										</div><!-- end col-3 -->
									</div><!-- end row -->
								</li>
							</ul>
						</li>
						
						<li>
							<a href="hire-guider.html">Find Guide</a>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Extra</a>
							<ul class="dropdown-menu animated fadeOutUp">
								<li><a href="cart.html">Add To Cart</a></li>
								<li><a href="payment-methode.html">Paayment Methode</a></li>
								<li><a href="success-page.html">Success Page</a></li>
								<li><a href="coming-soon.html">Coming Soon</a></li>
								<li><a href="about-us.html">About Us</a></li>
								<li><a href="pricing.html">Pricing</a></li>
								<li><a href="services.html">Services</a></li>
								<li class="dropdown"><a href="#">View More</a>
									<ul class="dropdown-menu">
										<li><a href="blog.html">Blog</a></li>
										<li><a href="faqs.html">FAQs</a></li>
										<li><a href="login.html">LogIn</a></li>
										<li><a href="signup.html">SignUp</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="icons.html">icons</a></li>
										<li><a href="404.html">404</a></li>
									</ul>
								</li>
							</ul>
						</li>
						
						<li>
							<a href="dashboard.html">Dashboard</a>
						</li>
						
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li class="br-right"><a href="javascript:void(0)"  data-toggle="modal" data-target="#signin"><i class="login-icon ti-user"></i>Login</a></li>
						<li class="sign-up"><a class="btn-signup red-btn" href="tour-grid-sidebar.html"><span class="ti-briefcase"></span>Booking Toor</a></li> 
					</ul>
						
				</div>
				<!-- /.navbar-collapse -->
			</div>   
		</nav>
		<!-- ======================= End Navigation ===================== -->
		
		<!-- ======================= Start Page Title ===================== -->
		<div class="page-title image-title" style="background-image:url(assets/img/banner.jpg);">
			<div class="container">
				<div class="page-title-wrap">
				<h2>Hire Guide</h2>
				<p><a href="#" class="theme-cl">Home</a> | <span>Hire Guide</span></p>
				</div>
			</div>
		</div>
		<!-- ======================= End Page Title ===================== -->
		
		<!-- =========== Hire Guider =================== -->
		<section class="gray-bg">
			<div class="container">
				
				<!-- Row -->
				<div class="row mrg-0">
					<div class="tr-single-box short-box">
						<div class="col-xs-4 align-self-center">
							<h4>Shorty By</h4>
						</div>
						
						<div class="col-xs-8 text-right">
						
							<div class="btn-group mr-lg-2">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Most Recent
								</button>
								<div class="dropdown-menu pull-right animated flipInX">
									<a href="#">Recent</a>
									<a href="#">Most Popular</a>
									<a href="#">Most Ratting</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
				
				<!-- Start all guider -->
				<div class="row">
				
					<!-- Single Guide -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="guide-container">
							<div class="guide-container-box">
								<div class="fguide-thumb">
									<img src="{% static 'assets/img/user-1.jpg' %}" class="img-responsive img-circle" alt="">
									<p class="padd-15 text-center"><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
								</div>
								<div class="fguide-detail">
									<h4>Adam Dicluver</h4>
									<ul class="extra-service">
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-user"></i>
													</div>
													<div class="icon-box-text">
														<strong>experience</strong>
														5 Year
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-timer"></i>
													</div>
													<div class="icon-box-text">
														<strong>Hire</strong>
														10,000
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-eye"></i>
													</div>
													<div class="icon-box-text">
														<strong>View</strong>
														16,000
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="guide-container-links">
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>View Profile</a>
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>Send Message</a>
							</div>
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="guide-container">
							<div class="guide-container-box">
								<div class="fguide-thumb">
									<img src="{% static 'assets/img/user-2.jpg' %}" class="img-responsive img-circle" alt="">
									<p class="padd-15 text-center"><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
								</div>
								<div class="fguide-detail">
									<h4>Adam Dicluver</h4>
									<ul class="extra-service">
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-user"></i>
													</div>
													<div class="icon-box-text">
														<strong>experience</strong>
														5 Year
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-timer"></i>
													</div>
													<div class="icon-box-text">
														<strong>Hire</strong>
														10,000
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-eye"></i>
													</div>
													<div class="icon-box-text">
														<strong>View</strong>
														16,000
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="guide-container-links">
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>View Profile</a>
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>Send Message</a>
							</div>
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="guide-container">
							<div class="guide-container-box">
								<div class="fguide-thumb">
									<img src="{% static 'assets/img/user-3.jpg' %}" class="img-responsive img-circle" alt="">
									<p class="padd-15 text-center"><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
								</div>
								<div class="fguide-detail">
									<h4>Adam Dicluver</h4>
									<ul class="extra-service">
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-user"></i>
													</div>
													<div class="icon-box-text">
														<strong>experience</strong>
														5 Year
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-timer"></i>
													</div>
													<div class="icon-box-text">
														<strong>Hire</strong>
														10,000
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-eye"></i>
													</div>
													<div class="icon-box-text">
														<strong>View</strong>
														16,000
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="guide-container-links">
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>View Profile</a>
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>Send Message</a>
							</div>
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="guide-container">
							<div class="guide-container-box">
								<div class="fguide-thumb">
									<img src="{% static 'assets/img/user-4.jpg' %}" class="img-responsive img-circle" alt="">
									<p class="padd-15 text-center"><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
								</div>
								<div class="fguide-detail">
									<h4>Adam Dicluver</h4>
									<ul class="extra-service">
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-user"></i>
													</div>
													<div class="icon-box-text">
														<strong>experience</strong>
														5 Year
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-timer"></i>
													</div>
													<div class="icon-box-text">
														<strong>Hire</strong>
														10,000
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-eye"></i>
													</div>
													<div class="icon-box-text">
														<strong>View</strong>
														16,000
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="guide-container-links">
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>View Profile</a>
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>Send Message</a>
							</div>
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="guide-container">
							<div class="guide-container-box">
								<div class="fguide-thumb">
									<img src="{% static 'assets/img/user-5.jpg' %}" class="img-responsive img-circle" alt="">
									<p class="padd-15 text-center"><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
								</div>
								<div class="fguide-detail">
									<h4>Adam Dicluver</h4>
									<ul class="extra-service">
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-user"></i>
													</div>
													<div class="icon-box-text">
														<strong>experience</strong>
														5 Year
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-timer"></i>
													</div>
													<div class="icon-box-text">
														<strong>Hire</strong>
														10,000
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-eye"></i>
													</div>
													<div class="icon-box-text">
														<strong>View</strong>
														16,000
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="guide-container-links">
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>View Profile</a>
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>Send Message</a>
							</div>
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="guide-container">
							<div class="guide-container-box">
								<div class="fguide-thumb">
									<img src="{% static 'assets/img/user-6.jpg' %}" class="img-responsive img-circle" alt="">
									<p class="padd-15 text-center"><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
								</div>
								<div class="fguide-detail">
									<h4>Adam Dicluver</h4>
									<ul class="extra-service">
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-user"></i>
													</div>
													<div class="icon-box-text">
														<strong>experience</strong>
														5 Year
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-timer"></i>
													</div>
													<div class="icon-box-text">
														<strong>Hire</strong>
														10,000
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-eye"></i>
													</div>
													<div class="icon-box-text">
														<strong>View</strong>
														16,000
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="guide-container-links">
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>View Profile</a>
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>Send Message</a>
							</div>
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="guide-container">
							<div class="guide-container-box">
								<div class="fguide-thumb">
									<img src="{% static 'assets/img/user-7.jpg' %}" class="img-responsive img-circle" alt="">
									<p class="padd-15 text-center"><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
								</div>
								<div class="fguide-detail">
									<h4>Adam Dicluver</h4>
									<ul class="extra-service">
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-user"></i>
													</div>
													<div class="icon-box-text">
														<strong>experience</strong>
														5 Year
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-timer"></i>
													</div>
													<div class="icon-box-text">
														<strong>Hire</strong>
														10,000
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-eye"></i>
													</div>
													<div class="icon-box-text">
														<strong>View</strong>
														16,000
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="guide-container-links">
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>View Profile</a>
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>Send Message</a>
							</div>
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="guide-container">
							<div class="guide-container-box">
								<div class="fguide-thumb">
									<img src="{% static 'assets/img/user-8.jpg' %}" class="img-responsive img-circle" alt="">
									<p class="padd-15 text-center"><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
								</div>
								<div class="fguide-detail">
									<h4>Adam Dicluver</h4>
									<ul class="extra-service">
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-user"></i>
													</div>
													<div class="icon-box-text">
														<strong>experience</strong>
														5 Year
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-timer"></i>
													</div>
													<div class="icon-box-text">
														<strong>Hire</strong>
														10,000
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-eye"></i>
													</div>
													<div class="icon-box-text">
														<strong>View</strong>
														16,000
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="guide-container-links">
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>View Profile</a>
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>Send Message</a>
							</div>
						</div>
					</div>
					
					<!-- Single Guide -->
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="guide-container">
							<div class="guide-container-box">
								<div class="fguide-thumb">
									<img src="{% static 'assets/img/user-1.jpg' %}" class="img-responsive img-circle" alt="">
									<p class="padd-15 text-center"><i class="fa fa-star cl-warning"></i>4.7/<span>5</span></p>
								</div>
								<div class="fguide-detail">
									<h4>Adam Dicluver</h4>
									<ul class="extra-service">
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-user"></i>
													</div>
													<div class="icon-box-text">
														<strong>experience</strong>
														5 Year
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-timer"></i>
													</div>
													<div class="icon-box-text">
														<strong>Hire</strong>
														10,000
													</div>
												</a>
											</div>
										</li>
										
										<li>
											<div class="icon-box-icon-block">
												<a href="#">
													<div class="icon-box-round">
														<i class="ti-eye"></i>
													</div>
													<div class="icon-box-text">
														<strong>View</strong>
														16,000
													</div>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="guide-container-links">
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>View Profile</a>
								<a href="guide-detail.html" class="btn btn-default"><i class="ti-user mrg-r-5"></i>Send Message</a>
							</div>
						</div>
					</div>
					
				</div>
				<!-- Start all guider -->
				
				
			</div>
		</section>
		<!-- =========== End Hire Guider =================== -->
			
		<!-- ============== Before Footer ====================== -->
		<section class="before-footer bt-1 bb-1">
			<div class="container-fluid padd-0 full-width">
			
				<div class=" col-md-2 col-sm-2 br-1 mbb-1">
					<div class="data-flex">
						<h4>Contact Us!</h4>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
					53 Boulevard Victor Hugo 44200 Nantes, France
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
						<span class="d-block mrg-bot-0">06 52 52 20 30</span>
						<a href="#" class="theme-cl"><strong>hello@gmail.com</strong></a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4 padd-0">
					<div class="data-flex padd-0">
						<ul class="social-share">
							<li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin theme-cl"></i></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</section>
		<!-- =================== Before Footer ====================== -->
			
		<!-- ================= footer start ========================= -->
		<footer class="footer dark-bg">
			<div class="container">
				
				<!-- Row Start -->
				<div class="row">
				
					<div class="col-md-8 col-sm-8">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<h4>Featured Destinations</h4>
								<ul>
									<li><a href="destination-grid.html">Destination Grid</a></li>
									<li><a href="destination-list.html">Destination List</a></li>
									<li><a href="destination-grid-sidebar.html">Destination Grid Sidebar</a></li>
									<li><a href="destination-list-sidebar.html">Destination List Sidebar</a></li>
									<li><a href="destination-detail.html">Destination Detail</a></li>
									<li><a href="restaurant-grid.html">Restaurant Grid</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4>Featured Tours</h4>
								<ul>
									<li><a href="tour-grid.html">Tour Grid</a></li>
									<li><a href="tour-list.html">Tour List</a></li>
									<li><a href="tour-grid-sidebar.html">Tour Grid Sidebar</a></li>
									<li><a href="tour-list-sidebar.html">tour List Sidebar</a></li>
									<li><a href="tour-detail.html">Tour Detail</a></li>
									<li><a href="http://themezhub.com/">Restaurant Grid</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4>Featured Hotels</h4>
								<ul>
									<li><a href="hotel-grid.html">Hotel Grid</a></li>
									<li><a href="hotel-list.html">Hotel List</a></li>
									<li><a href="hotel-grid-sidebar.html">Hotel Grid Sidebar</a></li>
									<li><a href="hotel-list-sidebar.html">Hotel List Sidebar</a></li>
									<li><a href="hotel-detail.html">Hotel Detail</a></li>
									<li><a href="restaurant-detail.html">Restaurant Detail</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4">
						<h4>Subscribe Now</h4>
						<!-- Newsletter -->
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Email">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-location-arrow font-20"></i></button>
							</span>
						</div>
						
						<!-- Social Box -->
						<div class="f-social-box">
							<ul>
								<li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-google google-plus-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest pinterest-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
							</ul>
						</div>
						
						<!-- App Links -->
						<div class="f-app-box">
							<ul>
								<li><a href="#"><i class="fa fa-apple"></i>App Store</a></li>
								<li><a href="#"><i class="fa fa-android"></i>Play Store</a></li>
							</ul>
						</div>
						
					</div>
					
				</div>
				
				<!-- Row Start -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyright text-center">
							<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
						</div>
					</div>
				</div>
				
			</div>
		</footer>
		
		<!-- Sign Up Window Code -->
		<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="myModalLabel1">
					<div class="modal-body">
						<div class="text-center"><img src="{% static 'assets/img/logo.png' %}" class="img-responsive" alt=""></div>
						
						<!-- Nav tabs -->
						<ul class="nav nav-tabs nav-advance theme-bg" role="tablist">
							<li class="nav-item active">
								<a class="nav-link" data-toggle="tab" href="#employer" role="tab">
								<i class="ti-user"></i> Employer</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#candidate" role="tab">
								<i class="ti-user"></i> Candidate</a>
							</li>
						</ul>
						<!-- Nav tabs -->
							
						<!-- Tab panels -->
						<div class="tab-content">
						
							<!-- Employer Panel 1-->
							<div class="tab-pane fade in show active" id="employer" role="tabpanel">
								<form>
									
									<div class="form-group">
										<label>User Name</label>
										<input type="text" class="form-control" placeholder="User Name">
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="*********">
									</div>
									
									<div class="form-group">
										<span class="custom-checkbox">
											<input type="checkbox" id="4">
											<label for="4"></label>Remember me
										</span>
										<a href="#" title="Forget" class="fl-right">Forgot Password?</a>
									</div>
									<div class="form-group text-center">
										<button type="button" class="btn theme-btn full-width btn-m">LogIn </button>
									</div>
									
								</form>
								
								<div class="log-option"><span>OR</span></div>
								
								<div class="row mrg-bot-20">
									<div class="col-md-6">
										<a href="#" title="" class="fb-log-btn log-btn"><i class="fa fa-facebook"></i>Sign In With Facebook</a>
									</div>
									<div class="col-md-6">
										<a href="#" title="" class="gplus-log-btn log-btn"><i class="fa fa-google-plus"></i>Sign In With Google+</a>
									</div>
								</div>
					
							</div>
							<!--/.Panel 1-->
							
							<!-- Candidate Panel 2-->
							<div class="tab-pane fade" id="candidate" role="tabpanel">
								<form>
									
									<div class="form-group">
										<label>User Name</label>
										<input type="text" class="form-control" placeholder="User Name">
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="*********">
									</div>
									
									<div class="form-group">
										<span class="custom-checkbox">
											<input type="checkbox" id="4">
											<label for="4"></label>Remember me
										</span>
										<a href="#" title="Forget" class="fl-right">Forgot Password?</a>
									</div>
									<div class="form-group text-center">
										<button type="button" class="btn theme-btn full-width btn-m">LogIn </button>
									</div>
									
								</form>
								
								<div class="log-option"><span>OR</span></div>
								
								<div class="row mrg-bot-20">
									<div class="col-md-6">
										<a href="#" title="" class="fb-log-btn log-btn"><i class="fa fa-facebook"></i>Sign In With Facebook</a>
									</div>
									<div class="col-md-6">
										<a href="#" title="" class="gplus-log-btn log-btn"><i class="fa fa-google-plus"></i>Sign In With Google+</a>
									</div>
								</div>
								
							</div>
							<!--/.Panel 2-->
							
						</div>
						<!-- Tab panels -->
					</div>
				</div>
			</div>
		</div>   
		<!-- End Sign Up Window -->
		<!-- Switcher -->
		<button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()"><i class="spin theme-cl fa fa-cog" aria-hidden="true"></i></button>
		<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
		  <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large theme-bg">Close &times;</button>
		   <ul id="styleOptions" title="switch styling">
				<li>
					<a href="javascript: void(0)" class="cl-box cl-default" data-theme="skins/default"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-red" data-theme="skins/red"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-green" data-theme="skins/green"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-blue" data-theme="skins/blue"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-pink" data-theme="skins/pink"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-purple" data-theme="skins/purple"></a>
				</li>
			</ul>
		</div>
		<!-- /Switcher -->
		 
		<!-- =================== START JAVASCRIPT ================== -->
		<script src="{% static 'assets/plugins/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/viewportchecker.js' %}"></script>
		<script src="{% static 'assets/plugins/js/bootsnav.js' %}"></script>
		<script src="{% static 'assets/plugins/js/slick.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.fancybox.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.downCount.js' %}"></script>
		<script src="{% static 'assets/plugins/js/freshslider.1.0.0.js' %}"></script>
		<script src="{% static 'assets/plugins/js/moment.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/daterangepicker.js' %}"></script>
		<script src="{% static 'assets/plugins/js/wysihtml5-0.3.0.js' %}"></script>
		<script src="{% static 'assets/plugins/js/bootstrap-wysihtml5.js' %}"></script>
		
		<!-- Dashboard Js -->
		<script src="{% static 'assets/plugins/js/jquery.slimscroll.min.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.metisMenu.js' %}"></script>
		<script src="{% static 'assets/plugins/js/jquery.easing.min.js' %}"></script>
 
		<!-- Custom Js -->
		<script src="{% static 'assets/js/custom.js' %}"></script>
		<script src="{% static 'assets/js/jQuery.style.switcher.js' %}"></script>
		<script>
			function openRightMenu() {
				document.getElementById("rightMenu").style.display = "block";
			}
			function closeRightMenu() {
				document.getElementById("rightMenu").style.display = "none";
			}
		</script>

		<script type="text/javascript">
			$(document).ready(function() {
				$('#styleOptions').styleSwitcher();
			});
		</script>
	
    </body>

</html>