{% extends "trips/base.html" %} 
{% load static %} 
{% block content %}


		<!-- =========== Start All Hotel In Grid View =================== -->
		<section class="gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="blog-box blog-grid-box">
							<div class="blog-grid-box-img">
								<img src="{% static 'assets/img/blog/blog-1.jpg' %}" class="img-responsive" alt="">
							</div>
							
							<div class="blog-grid-box-content">
								<div class="blog-avatar text-center">
									<img src="{% static 'assets/img/user-1.jpg' %}" class="img-responsive" alt="">
									<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
								</div>
								<h4>Why People Use Listing Hub</h4>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
								<a href="#" class="theme-cl" title="Read More..">Continue...</a>
							</div>
							
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="blog-box blog-grid-box">
						
							<div class="blog-grid-box-img">
								<img src="{% static 'assets/img/blog/blog-2.jpg' %}" class="img-responsive" alt="">
							</div>
							
							<div class="blog-grid-box-content">
								<div class="blog-avatar text-center">
									<img src="{% static 'assets/img/user-2.jpg' %}" class="img-responsive" alt="">
									<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
								</div>
								<h4>Why People Use Listing Hub</h4>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
								<a href="#" class="theme-cl" title="Read More..">Continue...</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="blog-box blog-grid-box">
							<div class="blog-grid-box-img">
								<img src="{% static 'assets/img/blog/blog-3.jpg' %}" class="img-responsive" alt="">
							</div>
							<div class="blog-grid-box-content">
								<div class="blog-avatar text-center">
									<img src="{% static 'assets/img/user-3.jpg' %}" class="img-responsive" alt="">
									<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
								</div>
								<h4>Why People Use Listing Hub</h4>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
								<a href="#" class="theme-cl" title="Read More..">Continue...</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="blog-box blog-grid-box">
							<div class="blog-grid-box-img">
								<img src="{% static 'assets/img/blog/blog-4.jpg' %}" class="img-responsive" alt="">
							</div>
							<div class="blog-grid-box-content">
								<div class="blog-avatar text-center">
									<img src="{% static 'assets/img/user-1.jpg' %}" class="img-responsive" alt="">
									<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
								</div>
								<h4>Why People Use Listing Hub</h4>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
								<a href="#" class="theme-cl" title="Read More..">Continue...</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="blog-box blog-grid-box">
							<div class="blog-grid-box-img">
								<img src="{% static 'assets/img/blog/blog-5.jpg' %}" class="img-responsive" alt="">
							</div>
							<div class="blog-grid-box-content">
								<div class="blog-avatar text-center">
									<img src="{% static 'assets/img/user-2.jpg' %}" class="img-responsive" alt="">
									<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
								</div>
								<h4>Why People Use Listing Hub</h4>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
								<a href="#" class="theme-cl" title="Read More..">Continue...</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="blog-box blog-grid-box">
							<div class="blog-grid-box-img">
								<img src="{% static 'assets/img/blog/blog-6.jpg' %}" class="img-responsive" alt="">
							</div>
							<div class="blog-grid-box-content">
								<div class="blog-avatar text-center">
									<img src="{% static 'assets/img/user-3.jpg' %}" class="img-responsive" alt="">
									<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
								</div>
								<h4>Why People Use Listing Hub</h4>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
								<a href="#" class="theme-cl" title="Read More..">Continue...</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="blog-box blog-grid-box">
							<div class="blog-grid-box-img">
								<img src="{% static 'assets/img/blog/blog-7.jpg' %}" class="img-responsive" alt="">
							</div>
							<div class="blog-grid-box-content">
								<div class="blog-avatar text-center">
									<img src="{% static 'assets/img/user-1.jpg' %}" class="img-responsive" alt="">
									<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
								</div>
								<h4>Why People Use Listing Hub</h4>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
								<a href="#" class="theme-cl" title="Read More..">Continue...</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="blog-box blog-grid-box">
							<div class="blog-grid-box-img">
								<img src="{% static 'assets/img/blog/blog-8.jpg' %}" class="img-responsive" alt="">
							</div>
							<div class="blog-grid-box-content">
								<div class="blog-avatar text-center">
									<img src="{% static 'assets/img/user-2.jpg' %}" class="img-responsive" alt="">
									<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
								</div>
								<h4>Why People Use Listing Hub</h4>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
								<a href="#" class="theme-cl" title="Read More..">Continue...</a>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="blog-box blog-grid-box">
							<div class="blog-grid-box-img">
								<img src="{% static 'assets/img/blog/blog-4.jpg' %}" class="img-responsive" alt="">
							</div>
							<div class="blog-grid-box-content">
								<div class="blog-avatar text-center">
									<img src="{% static 'assets/img/user-3.jpg' %}" class="img-responsive" alt="">
									<p><strong>By</strong> <span class="theme-cl">Adam Khiwak</span></p>
								</div>
								<h4>Why People Use Listing Hub</h4>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
								<a href="#" class="theme-cl" title="Read More..">Continue...</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="bs-example">
							<ul class="pagination">
								<li class="page-item">
								  <a class="page-link" href="#" aria-label="Previous">
									<span class="ti-arrow-left"></span>
									<span class="sr-only">Previous</span>
								  </a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item active"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">4</a></li>
								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item">
								  <a class="page-link" href="#" aria-label="Next">
									<span class="ti-arrow-right"></span>
									<span class="sr-only">Next</span>
								  </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- =========== End All Hotel In Grid View =================== -->
			
		<!-- ============== Before Footer ====================== -->
		<section class="before-footer bt-1 bb-1">
			<div class="container-fluid padd-0 full-width">
			
				<div class=" col-md-2 col-sm-2 br-1 mbb-1">
					<div class="data-flex">
						<h4>Contact Us!</h4>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
					53 Boulevard Victor Hugo 44200 Nantes, France
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
						<span class="d-block mrg-bot-0">06 52 52 20 30</span>
						<a href="#" class="theme-cl"><strong>hello@gmail.com</strong></a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4 padd-0">
					<div class="data-flex padd-0">
						<ul class="social-share">
							<li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin theme-cl"></i></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</section>
		<!-- =================== Before Footer ====================== -->
	


{% endblock %}