{% extends "trips/base.html" %} 
{% load static %} 
{% block content %}



		<!-- ================= Features ===================== -->
		<section class="gray-bg">
			<div class="container">
			
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">New Services</span>
							<h1>Latest Services</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
					
					<div class="col-md-4 col-sm-6">
						<div class="info-services">
							<img src="{% static 'assets/img/tt-1.png' %}" alt="">
							<h4 class="infobox_title">Sightseeing Tours</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive, full-service approach to SEO</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="info-services">
							<img src="{% static 'assets/img/tt-2.png' %}" alt="">
							<h4 class="infobox_title">Trips out of town</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive, full-service approach to SEO</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="info-services">
							<img src="{% static 'assets/img/tt-3.png' %}" alt="">
							<h4 class="infobox_title">Extraordinary Tours</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive, full-service approach to SEO</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="info-services">
							<img src="{% static 'assets/img/tt-4.png' %}" alt="">
							<h4 class="infobox_title">History & Architecture</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive, full-service approach to SEO</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="info-services">
							<img src="{% static 'assets/img/tt-5.png' %}" alt="">
							<h4 class="infobox_title">Food & Cooking Tours</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive, full-service approach to SEO</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6">
						<div class="info-services">
							<img src="{% static 'assets/img/tt-6.png' %}" alt="">
							<h4 class="infobox_title">Museums & Art</h4>
							<div class="infobox_content">Cryptronick caters to clients who require an intensive, full-service approach to SEO</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- ===================== End fetures ===================== -->
		
		<!-- ============== Before Footer ====================== -->
		<section class="before-footer bt-1 bb-1">
			<div class="container-fluid padd-0 full-width">
			
				<div class=" col-md-2 col-sm-2 br-1 mbb-1">
					<div class="data-flex">
						<h4>Contact Us!</h4>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
					53 Boulevard Victor Hugo 44200 Nantes, France
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
						<span class="d-block mrg-bot-0">06 52 52 20 30</span>
						<a href="#" class="theme-cl"><strong>hello@gmail.com</strong></a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4 padd-0">
					<div class="data-flex padd-0">
						<ul class="social-share">
							<li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin theme-cl"></i></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</section>
		<!-- =================== Before Footer ====================== -->
			

{% endblock %}
